<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>關於我們-NICE-V 韓劇迷！</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/company.css" />
  </head>
  <body>
    <img class="flxed-image" src="images/韓迷背景.jpg" alt="fixed-image" />

    <header>
      <section class="logo">
        <a href="/">
          <img title="NICE-V 韓劇迷！" src="Icons/mylogo1.svg" alt="NICE-V" />
        </a>
        <a href="/">
          <h1 title="NICE-V 韓劇迷！">韓劇迷！~</h1>
        </a>
      </section>

      <section class="searcharea">
        <div class="wrap">
          <div class="search">
            <input
              class="search-bar"
              type="text"
              name="search"
              id="search"
              placeholder=""
            />
            <button title="搜尋" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/news1"
                ><i class="fa-solid fa-envelope-open-text"></i> 韓劇新聞</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-magnifying-glass-chart"></i>
                韓劇開播情報</a
              >
            </li>
            <li>
              <a href="/membertop10"
                ><i class="fa-solid fa-ranking-star"></i> 韓劇TOP10排行</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-user-group"></i> 會員</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="about-me">
        <div class="about-up">
          <h3>關於我們</h3>
          <hr />
        </div>
        <div class="about-dn">
          <h4>NICE-V 娛樂視頻簡介：</h4>
          <p>大家好 ~ 我是NICE-V</p>
          <p>在第一時間提供韓國電視劇最新播出消息與日期！</p>
          <p>也會一起收集韓劇主題曲！</p>
        </div>
      </section>
    </main>

    <footer>
      <section class="logo">
        <img src="Icons/mylogo1.svg" alt="nicev996" />
        <h3>韓迷-韓劇播出介紹</h3>
      </section>
      <nav>
        <ul>
          <li>
            <a href="#">關於我們</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
          <li>
            <a href="#">隱私政策</a>
          </li>
          <li>
            <a href="/contact">聯絡我們</a>
          </li>
        </ul>
      </nav>
      <section class="links">
        <a
          title="Youtube"
          target="_blank"
          href="https://www.youtube.com/@nicev996"
          ><img src="Icons/youtube.svg" alt="youtube"
        /></a>
        <a title="twitter" target="_blank" href="https://twitter.com/HYV996"
          ><img src="Icons/twitter.svg" alt="twitter"
        /></a>
        <a
          title="Facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091266142253"
          ><img src="Icons/facebook.svg" alt="facebook"
        /></a>
        <a
          title="instagram"
          target="_blank"
          href="https://www.instagram.com/nicev996/"
          ><img src="Icons/instagram.svg" alt="instagram"
        /></a>
      </section>
    </footer>
  </body>
</html>
