<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>韓劇新聞2-NICE-V 韓劇迷！</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/news2.css" />
  </head>
  <body>
    <img class="flxed-image" src="images/韓迷背景2.jpg" alt="fixed-image" />

    <header>
      <section class="logo">
        <a href="/">
          <img title="NICE-V 韓劇迷！" src="Icons/mylogo1.svg" alt="nicev" />
        </a>
        <a href="/">
          <h1 title="NICE-V 韓劇迷！">韓劇迷！~</h1>
        </a>
      </section>

      <section class="searcharea">
        <div class="wrap">
          <div class="search">
            <input
              class="search-bar"
              type="text"
              name="search"
              id="search"
              placeholder=""
            />
            <button title="搜尋" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/news3"
                ><i class="fa-solid fa-envelope-open-text"></i> 韓劇新聞</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-magnifying-glass-chart"></i>
                韓劇開播情報</a
              >
            </li>
            <li>
              <a href="/membertop10"
                ><i class="fa-solid fa-ranking-star"></i> 韓劇TOP10排行</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-user-group"></i> 會員</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="info-news">
        <div class="newshead">
          <h3>韓劇新聞</h3>
          <hr />
        </div>
        <div class="newsbody">
          <h2>
            【新劇《特務家族》製作發佈會】張赫＆張娜拉睽違9年四度合作：最強特工
            VS 家庭主婦，上演諜報喜劇！
          </h2>
          <img src="images/韓劇新聞/新聞2/news2-1.png" alt="" />
          <p>
            tvN新劇《特務家族》在12日舉行製作發佈會，張赫、張娜拉、蔡貞安、金南喜等主演都出席。
          </p>
          <p>▼張赫＆張娜拉</p>
          <img src="images/韓劇新聞/新聞2/news2-2.jpg" alt="" />
          <p>▼蔡貞安</p>
          <img src="images/韓劇新聞/新聞2/news2-3.jpg" alt="" />
          <p>▼金南喜</p>
          <img src="images/韓劇新聞/新聞2/news2-4.jpg" alt="" />
          <img src="images/韓劇新聞/新聞2/news2-5.jpg" alt="" />
          <p>
            《特務家族》講述偽裝成平凡上班族的國情院黑色要員丈夫與夢想完美家庭、甜美的妻子之間驚險的死守家庭諜報喜劇，將在4月17日於
            Disney+
            播出。劇中，張赫飾演平常偽裝成平凡上班族的國情院黑色要員「權道勳」、張娜拉飾演權道勳的妻子「姜宥拉」，這也是兩人第四度合作，讓許多劇迷們都相當期待！
          </p>
          <p>By...KSD韓星網</p>
        </div>
      </section>
    </main>

    <footer>
      <section class="logo">
        <img src="Icons/mylogo1.svg" alt="nicev996" />
        <h3>韓迷-韓劇播出介紹</h3>
      </section>
      <nav>
        <ul>
          <li>
            <a href="/company">關於我們</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
          <li>
            <a href="#">隱私政策</a>
          </li>
          <li>
            <a href="/contact">聯絡我們</a>
          </li>
        </ul>
      </nav>
      <section class="links">
        <a
          title="Youtube"
          target="_blank"
          href="https://www.youtube.com/@nicev996"
          ><img src="Icons/youtube.svg" alt="youtube"
        /></a>
        <a title="twitter" target="_blank" href="https://twitter.com/HYV996"
          ><img src="Icons/twitter.svg" alt="twitter"
        /></a>
        <a
          title="Facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091266142253"
          ><img src="Icons/facebook.svg" alt="facebook"
        /></a>
        <a
          title="instagram"
          target="_blank"
          href="https://www.instagram.com/nicev996/"
          ><img src="Icons/instagram.svg" alt="instagram"
        /></a>
      </section>
    </footer>
  </body>
</html>
