<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>韓劇新聞3-NICE-V 韓劇迷</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/news3.css" />
  </head>
  <body>
    <img class="flxed-image" src="images/韓迷背景2.jpg" alt="fixed-image" />

    <header>
      <section class="logo">
        <a href="/">
          <img
            title="NICE-V 韓劇迷"
            src="Icons/mylogo1.svg"
            alt="NICE-V 韓劇迷"
          />
        </a>
        <a href="/">
          <h1 title="NICE-V 韓劇迷">韓劇迷！~</h1>
        </a>
      </section>

      <section class="searcharea">
        <div class="wrap">
          <div class="search">
            <input
              class="search-bar"
              type="text"
              name="search"
              id="search"
              placeholder=""
            />
            <button title="搜尋" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/news1"
                ><i class="fa-solid fa-envelope-open-text"></i> 韓劇新聞</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-magnifying-glass-chart"></i>
                韓劇開播情報</a
              >
            </li>
            <li>
              <a href="/membertop10"
                ><i class="fa-solid fa-ranking-star"></i> 韓劇TOP10排行</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-user-group"></i> 會員</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="info-news">
        <div class="newshead">
          <h3>韓劇新聞</h3>
          <hr />
        </div>
        <div class="newsbody">
          <h2>
            「SBS金土劇宇宙」？
            文彩元繼南宮珉&金素妍之後加盟《模範計程車2》客串陣容，本週六大結局延長至80分鐘！
          </h2>
          <img src="images/韓劇新聞/新聞3/news3-1.jpg" alt="" />
          <p>
            SBS今日公開文彩元客串金土劇《模範計程車2》（港譯：模範的士2）最終回的劇照，繼《千元律師》南宮珉和《The
            Penthouse》系列女主金素妍之後，加入第三塊「SBS金土劇宇宙」拼圖！XD
          </p>
          <img src="images/韓劇新聞/新聞3/news3-2.jpg" alt="" />
          <p>
            文彩元在SBS今年1月開播的金土劇《法錢》裡飾演法務官陸軍少校「朴俊晶」，這次客串《模範計程車2》的劇照裡換上了帶有中尉階級章的陸軍戰鬥服，展現出強悍軍人氣場的同時眉頭緊鎖、眼含悲傷，讓人很好奇她在劇中將擔任什麼樣的角色！
          </p>
          <p>
            此前SBS另一部金土劇《千元律師》的主演南宮珉也客串了《模範計程車2》，雖然只登場短短4分鐘，但延續劇中角色「千智勳」的戲份仍讓不少觀眾大呼過癮。
          </p>
          <img src="images/韓劇新聞/新聞3/news3-3.jpg" alt="" />
          <p>
            另一位將在《模範計程車2》大結局登場的演員是金素妍，她在SBS話題之作《The
            Penthouse》系列飾演「千瑞璡」展現了精彩的惡女演技，這次還沒有公開客串角色，只透露是「主導劇情發展的重要角色」！（難道千老師也要被復仇了嗎XD）
          </p>
          <img src="images/韓劇新聞/新聞3/news3-4.jpg" alt="" />
          <p>
            SBS熱播劇《模範計程車2》講述代客復仇秘密組織「彩虹運輸」的故事，本週即將迎來大結局，週六更新最終回第16集將延長至80分鐘，韓國時間晚9點50分開播。
          </p>
          <p>By...KSD韓星網</p>
        </div>
      </section>
    </main>

    <footer>
      <section class="logo">
        <img src="Icons/mylogo1.svg" alt="nicev996" />
        <h3>韓迷-韓劇播出介紹</h3>
      </section>
      <nav>
        <ul>
          <li>
            <a href="/company">關於我們</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
          <li>
            <a href="#">隱私政策</a>
          </li>
          <li>
            <a href="/contact">聯絡我們</a>
          </li>
        </ul>
      </nav>
      <section class="links">
        <a
          title="Youtube"
          target="_blank"
          href="https://www.youtube.com/@nicev996"
          ><img src="Icons/youtube.svg" alt="youtube"
        /></a>
        <a title="twitter" target="_blank" href="https://twitter.com/HYV996"
          ><img src="Icons/twitter.svg" alt="twitter"
        /></a>
        <a
          title="Facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091266142253"
          ><img src="Icons/facebook.svg" alt="facebook"
        /></a>
        <a
          title="instagram"
          target="_blank"
          href="https://www.instagram.com/nicev996/"
          ><img src="Icons/instagram.svg" alt="instagram"
        /></a>
      </section>
    </footer>
  </body>
</html>
