<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>韓劇新聞-NICE-V 韓劇迷！</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/news1.css" />
  </head>
  <body>
    <img class="flxed-image" src="images/韓迷背景2.jpg" alt="fixed-image" />

    <header>
      <section class="logo">
        <a href="/">
          <img title="NICE-V 韓劇迷！" src="Icons/mylogo1.svg" alt="NICE-V" />
        </a>
        <a href="/">
          <h1 title="NICE-V 韓劇迷！">韓劇迷！~</h1>
        </a>
      </section>

      <section class="searcharea">
        <div class="wrap">
          <div class="search">
            <input
              class="search-bar"
              type="text"
              name="search"
              id="search"
              placeholder=""
            />
            <button title="搜尋" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/news2"
                ><i class="fa-solid fa-envelope-open-text"></i> 韓劇新聞</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-magnifying-glass-chart"></i>
                韓劇開播情報</a
              >
            </li>
            <li>
              <a href="/membertop10"
                ><i class="fa-solid fa-ranking-star"></i> 韓劇TOP10排行</a
              >
            </li>
            <li>
              <a href="/member"
                ><i class="fa-solid fa-user-group"></i> 會員</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="info-news">
        <div class="newshead">
          <h3>韓劇新聞</h3>
          <hr />
        </div>
        <div class="newsbody">
          <h2>
            如果把復仇神劇《黑暗榮耀》改成柯南畫風會長怎樣？神還原涎鎮的歪嘴，宋慧喬飾演的文同珢秒變路人
          </h2>
          <img src="images/韓劇新聞/新聞1/news1-1.jpg" alt="黑暗榮耀" />
          <p>你覺得哪一個角色變成二次元後，最讓你感到驚喜呢？</p>
          <p>
            在B站的平台上，有一位名為「画画的余丸」新博主，
            分享了將Netflix人氣韓劇《黑暗榮耀》改編成二次元人物的影片，她將所有主角都改成了柯南畫風，瞬間營造出了懸疑漫畫的氛圍，基本上是毫無違和感啊～！
          </p>
          <img src="images/韓劇新聞/新聞1/news1-4.jpg" alt="黑暗榮耀" />
          <p>
            還搭配了雪夜中少女神秘的墜樓事件，做出了一張封面圖，
            還以為是官方推出的全新電影版，真的太厲害了。
          </p>
          <img src="images/韓劇新聞/新聞1/news1-2.jpg" alt="黑暗榮耀" />
          <p>By...KSD韓星網</p>
        </div>
      </section>
    </main>

    <footer>
      <section class="logo">
        <img src="Icons/mylogo1.svg" alt="nicev996" />
        <h3>韓迷-韓劇播出介紹</h3>
      </section>
      <nav>
        <ul>
          <li>
            <a href="/company">關於我們</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
          <li>
            <a href="#">隱私政策</a>
          </li>
          <li>
            <a href="/contact">聯絡我們</a>
          </li>
        </ul>
      </nav>
      <section class="links">
        <a
          title="Youtube"
          target="_blank"
          href="https://www.youtube.com/@nicev996"
          ><img src="Icons/youtube.svg" alt="youtube"
        /></a>
        <a title="twitter" target="_blank" href="https://twitter.com/HYV996"
          ><img src="Icons/twitter.svg" alt="twitter"
        /></a>
        <a
          title="Facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091266142253"
          ><img src="Icons/facebook.svg" alt="facebook"
        /></a>
        <a
          title="instagram"
          target="_blank"
          href="https://www.instagram.com/nicev996/"
          ><img src="Icons/instagram.svg" alt="instagram"
        /></a>
      </section>
    </footer>
  </body>
</html>
